<div class="main p-3 bg-light rounded h-100">
  <div class="header mx-3 d-flex">
       <div class="h3 me-auto">Entreprises Clientes</div>
       <button class="btn btn-add">
         <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
           <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
         </svg>
       </button>
  </div>
  <router-outlet></router-outlet>
</div>

