<h1 class="text-center">Ajouter un entreprise</h1>
<form name="myform"[formGroup]="entrepriseForm" class="form-group">
      <div class="row mb-2 ">
        <div class="col-md-12 mt-3">
          <div class="input-group">
            <span class="input-group-text"><i class="bi bi-building-fill-down ps-2 pe-2 fs-4"></i></span>
            <div class="form-floating">
              <input class="form-control rounded-end" type="text" placeholder="Raison Social" formControlName="nomEntreprise" id="nomDelentreprise">
              <label for="nomDelentreprise" > Raison Social</label>
            </div>
          </div>
          </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-6 ">
          <div class="input-group">
            <span class="input-group-text"><i class="bi bi-building-fill-down ps-2 pe-2 fs-4"></i></span>
            <div class="form-floating">
              <input class="form-control rounded-end" type="text" placeholder="Ninea" formControlName="ninea"  id="ninea">
              <label for="ninea" > Ninea</label>
            </div>
          </div>
        </div>
        <div class="col-md-6 ">
          <div class="input-group">
            <span class="input-group-text"><i class="bi bi-building-fill-down ps-2 pe-2 fs-4"></i></span>
            <div class="form-floating">
              <input class="form-control rounded-end" type="text" placeholder="Registre De Commerce" formControlName="codeEntreprise"  id="codeEntreprise">
              <label for="codeEntreprise" > Code de l'entreprise</label>
            </div>
          </div>
        </div>
          <div class="col-md-6 mt-3">
            <div class="input-group">
              <span class="input-group-text"><i class="bi bi-building-fill-down ps-2 pe-2 fs-4"></i></span>
              <div class="form-floating">
                <input class="form-control rounded-end" type="text" placeholder="Registre De Commerce" formControlName="numRegistreDeComerce"  id="numRegistreDeComerce">
                <label for="numRegistreDeComerce" >Numero de registre de commerce</label>
              </div>
            </div>
          </div>
      </div>


<!--      <div class="row p-3" formGroupName="adresse">-->
<!--        <div class="col-sm-12 border border-secondary-subtle rounded-4 p-3">-->
<!--          <div class="mt-n2 col-sm-1"><span class="ms-3">Adresse</span></div>-->
<!--          <div class="row mt-3">-->
<!--            <div class="col-md-6 ">-->
<!--              <div class="input-group">-->
<!--                <span class="input-group-text"><i class="bi bi-building-fill-down ps-2 pe-2 fs-4"></i></span>-->
<!--                <div class="form-floating">-->
<!--                  <input class="form-control rounded-end" type="text" placeholder="Pays " formControlName="ninea"  id="Pays">-->
<!--                  <label for="pays" > Pays</label>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="col-md-6 ">-->
<!--              <div class="input-group">-->
<!--                <span class="input-group-text"><i class="bi bi-building-fill-down ps-2 pe-2 fs-4"></i></span>-->
<!--                <div class="form-floating">-->
<!--                  <input class="form-control rounded-end" type="text" placeholder="Pays " formControlName="ninea"  id="Region">-->
<!--                  <label for="Region" > Region</label>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->

<!--          </div>-->
<!--          <div class="row mt-3">-->
<!--            <div class="col-md-6 ">-->
<!--              <div class="input-group">-->
<!--                <span class="input-group-text"><i class="bi bi-building-fill-down ps-2 pe-2 fs-4"></i></span>-->
<!--                <div class="form-floating">-->
<!--                  <input class="form-control rounded-end" type="text" placeholder="Ville " formControlName="ninea"  id="Ville">-->
<!--                  <label for="Ville" > Ville</label>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="col-md-6 ">-->
<!--              <div class="input-group">-->
<!--                <span class="input-group-text"><i class="bi bi-building-fill-down ps-2 pe-2 fs-4"></i></span>-->
<!--                <div class="form-floating">-->
<!--                  <input class="form-control rounded-end" type="text" placeholder="Departement " formControlName="ninea"  id="Departement">-->
<!--                  <label for="Departement" > Departement</label>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->

<!--          </div>-->

<!--          <div class="row mt-3">-->
<!--            <div class="col-sm-12">-->
<!--              <div class="input-group">-->
<!--                <span class="input-group-text"><i class="bi bi-building-fill-down ps-2 pe-2 fs-4"></i></span>-->
<!--                <div class="form-floating">-->
<!--                <input class="form-control rounded-end" type="text" placeholder="Rue de l'entreprise" formControlName="rue_entrprise" id="rue_entreprise">-->
<!--                  <label for="rue_entreprise" > Rue de l'entreprise</label>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        &lt;!&ndash;&ndash;&gt;-->

<!--      </div>-->
      <div class="row mt-2 gy-4">
        <div class="col-md-6 ">
          <div class="input-group">
            <span class="input-group-text"><i class="bi bi-building-fill-down ps-2 pe-2 fs-4"></i></span>
            <div class="form-floating">
              <input class="form-control rounded-end" type="text" placeholder="Telephone " formControlName="numeroTelephone"  id="Telephone">
              <label for="Telephone" > Telephone</label>
            </div>
          </div>
        </div>
        <div class="col-md-6 ">
          <div class="input-group">
            <span class="input-group-text"><i class="bi bi-building-fill-down ps-2 pe-2 fs-4"></i></span>
            <div class="form-floating">
              <input class="form-control rounded-end" type="text" placeholder="Departement " formControlName="fax"  id="Fax">
              <label for="Fax" > Fax</label>
            </div>
          </div>
        </div>
        <div class="col-md-6 ">
          <div class="input-group">
            <span class="input-group-text"><i class="bi bi-building-fill-down ps-2 pe-2 fs-4"></i></span>
            <div class="form-floating">
              <input class="form-control rounded-end" type="text" placeholder="@ridwangroup.com" formControlName="email"  id="Email">
              <label for="Email"> @ridwangroup.com</label>
            </div>
          </div>
        </div>
      </div>

    <div class="d-flex mt-4 justify-content-between">
      <button class="ps-5 pe-5 btn btn-outline-secondary" routerLink="/client/menus-principal/entreprises/list-entreprises">Annuler</button>
      <button class="ps-5 pe-5 btn btn-outline-success" (click)="addEntreprise()">Enregistrer</button>
    </div>
  </form>


