
<div *ngIf="loader" id="preloader">
  <div id="loader"></div>
</div>
<h1>Entreprises Clientes</h1>
<nav class="row mb-2 border border-2 d-flex justify-content-between">
  <div class="col-sm-4">
    <input class="form-control " type="text" name="firstName" [(ngModel)]="firstName" (ngModelChange)="search()" placeholder="Recherche par Prenom ou Nom">
  </div>
  <div class="col-sm-2 align-content-end">
    <button routerLink="/client/menus-principal/entreprises/add-entreprises" class="btn btn-success rounded-4 ps-4 pe-3" >
      Ajouter <i class="bi bi-plus"></i>
    </button>
  </div>
</nav>
<div class="table-responsive">
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th scope="col">Raison Social</th>
        <th scope="col">Siège Social</th>
        <th scope="col">Téléphone</th>
        <th scope="col">Ville</th>
        <th scope="col">Ninea</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>

        <tr *ngFor="let item of entreprises | paginate:{itemsPerPage:7, currentPage:p}">
          <td>{{ item.nomEntreprise }}</td>
          <td>{{ item.adresse.rue_entrprise }}</td>
          <td>{{ item.numeroTelephone }}</td>
          <td>{{ item.adresse.ville }}</td>
          <td>{{ item.ninea }}</td>
        <td>
            <button class="btn btn-sm btn-outline-warning mx-2" (click)="onEditEntreprise(item.id)">
              <svg  xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
              </svg>
              Modifier
            </button>
            <button class="btn btn-sm btn-outline-success mx-2 " (click)="onShowEntreprise(item.id)">
              Voire plus
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots" viewBox="0 0 16 16">
                <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/>
              </svg>
            </button>
          </td>
      </tr>
    </tbody>
  </table>
  <pagination-controls (pageChange)=" p = $event"></pagination-controls>

</div>


