<div class="container-fluid h-100 p-0 non-printable">
	<div class="row m-0 h-100">
		<div class="col-4 col-xl-2 h-100 sidebar">
			<nav class="side-nav col-11">
				<ul class="nav-menu">
				<li class="title mb-5 pb-3">
					<span class="text-light h5 text-uppercase">ridwan group</span>
				</li>
				<li class="nav-item" [routerLink]="['dashboard/entreprises-graphs']" routerLinkActive="activ-link">
					<a>
						<i class="fas fa-tachometer-alt"></i><span class="menu-text">Dashboard</span>
					</a>
				</li>
				<li class="nav-item" [routerLink]="['entreprises/list-entreprises']" routerLinkActive="activ-link">
					<a>
						<i class="fa-sharp fa-solid fa-building"></i><span class="menu-text">Entreprises</span>
					</a>
				</li>
				<li class="nav-item" [routerLink]="['structures']" routerLinkActive="activ-link">
					<a>
						<i class="fa-sharp fa-solid fa-hospital-user"></i><span class="menu-text">Structures</span>
					</a>
				</li>
          <li class="nav-item" [routerLink]="['adherents/list-adherents']" routerLinkActive="activ-link">
            <a>
              <i class="fa-solid fa-users"></i><span class="menu-text">Adherents</span>
            </a>
          </li>
				<li class="nav-item">
					<a (click)="logout()">
						<i class="fas fa-sign-out-alt"></i><span class="menu-text">exit</span>
					</a>
				</li>
				</ul>
			</nav>
		</div>
		<div class="col-12 col-xl-10">
			<div class="header row">

				<div class="search-help logo-titre col-12">
					<span class="logo">
						<img src="assets/images/logo.png" alt="logo" class="h-100">
					</span>
          <span class="titre h5 ms-3" *ngIf="user && user !== null">
						{{user.prenom}} {{ user.nom }}
					</span>
				</div>
			</div>
			<div class="main-content">
				<router-outlet></router-outlet>
			</div>
		</div>
	</div>
</div>

