<div class="main">
	<div class="container pt-5">
		<div class="row mt-5">
			<div class="col-5 offre h-100">
				<div class="title">
					<h1 class="text-light">RIDWAN <br> <h3 class="ipm">IPM</h3></h1>
				</div>
				<div class="image-offre">
					<img src="assets/images/karangue.png" alt="karangue">
				</div>
				<div class="desc-offre d-flex">
					<p class="">
						Offre <br>
						<b>karangue</b>
					</p>
					<p class="">
						Couverture<br>
						Jusqu'à 
					</p>
					<p >
						<b>60%</b>
					</p>
				</div>
			</div>
			<div class="col-7">

			</div>
		</div>
	</div>
</div>