<form *ngIf="entreprise"  name="myform"[formGroup]="coordonneesEntreprise" class="form-group">
  <div class="row mb-2 ">
    <div class="col-md-12 mt-3">
      <div class="input-group">
        <span class="input-group-text"><i class="bi bi-building-fill-down"></i></span>
        <input class="form-control rounded-end" type="text" placeholder="Raison Social" formControlName="nomEntreprise" >
      </div>
    </div>
  </div>
  <div class="row mb-2 gy-4">
    <div class="col-md-6 ">
      <div class="input-group">
        <span class="input-group-text"><i class="bi bi-building-fill-down"></i></span>
        <input class="form-control rounded-end" type="text" placeholder="Ninea" formControlName="ninea" >
      </div>
    </div>
    <div class="col-md-6">
      <div class="input-group">
        <span class="input-group-text"><i class="bi bi-building-fill-down"></i></span>
        <input class="form-control rounded-end" type="text" placeholder="Registre De Commerce" formControlName="numRegCommerce" >
      </div>
    </div>
  </div>


  <div class="row p-3" formGroupName="adresse">
    <div class="col-sm-12 border border-secondary-subtle rounded-4 ">
      <div class="mt-n2 col-sm-1"><span class="ms-3">Adresse</span></div>
      <div class="row mb-2 mt-1 gy-4">
        <div class="col-sm-6">
          <div class="input-group">
            <span class="input-group-text"><i class="bi bi-building-fill-down"></i></span>
            <input class="form-control rounded-end" type="text" placeholder="Pays" formControlName="pays" >
          </div>
        </div>
        <div class="col-sm-6">
          <div class="input-group">
            <span class="input-group-text"><i class="bi bi-building-fill-down"></i></span>
            <input class="form-control rounded-end" type="text" placeholder="Region" formControlName="region" >
          </div>
        </div>
      </div>
      <div class="row mb-2 gy-4">
        <div class="col-sm-6">
          <div class="input-group">
            <span class="input-group-text"><i class="bi bi-building-fill-down"></i></span>
            <input class="form-control rounded-end" type="text" placeholder="Ville" formControlName="ville" >
          </div>
        </div>
        <div class="col-sm-6">
          <div class="input-group">
            <span class="input-group-text"><i class="bi bi-building-fill-down"></i></span>
            <input class="form-control rounded-end" type="text" placeholder="Departement" formControlName="departement" >
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-sm-12">
          <div class="input-group">
            <span class="input-group-text"><i class="bi bi-building-fill-down"></i></span>
            <input class="form-control rounded-end" type="text" placeholder="Rue de l'entreprise" formControlName="rue_entrprise">
          </div>
        </div>
      </div>
    </div>
    <!---->

  </div>
  <div class="row  gy-2">
    <div class="col-sm-6">
      <div class="input-group">
        <span class="input-group-text"><i class="bi bi-building-fill-down"></i></span>
        <input class="form-control rounded-end" type="text" placeholder="N Telephone" formControlName="numeroTelephone" >
      </div>
    </div>
    <div class="col-sm-6">
      <div class="input-group">
        <span class="input-group-text"><i class="bi bi-building-fill-down"></i></span>
        <input class="form-control rounded-end" type="text" placeholder="Fax" formControlName="fax" >
      </div>
    </div>
    <div class="col-sm-6">
      <div class="input-group">
        <span class="input-group-text"><i class="bi bi-building-fill-down"></i></span>
        <input class="form-control rounded-end" type="text" placeholder="Email" formControlName="emailEntreprise" >
      </div>
    </div>
  </div>

  <div class="d-flex mt-4 justify-content-between">
    <button class="btn btn-success" routerLink="/client/menus-principal/entreprises/list-entreprises">Annuler</button>
    <button class="btn btn-success" (click)="updateEntreprise()">Suivant</button>
  </div>
</form>



