<div class="container">
  <div class="main-body" *ngIf="entreprise">
    <div class="row gutters-sm">
      <div class="col-md-4 mb-3">
        <div class="card">
          <div class="card-body">
            <div class="d-flex flex-column align-items-center text-center">
              <img src="{{entreprise.logo}}" alt="Admin" class="rounded-circle" width="150">
              <div class="mt-3">
                <h4>{{entreprise.nomEntreprise}}</h4>
                <p class="text-secondary mb-1">{{entreprise.numeroTelephone}}</p>
                <p class="text-muted font-size-sm">{{entreprise.adresse.rue_entrprise}}</p>
<!--                <button class="btn btn-primary"></button>-->
<!--                <button class="btn btn-outline-primary">Message</button>-->
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="col-md-8">
        <div class="card mb-3">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0 fw-bold">Ninea:</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {{entreprise.ninea}}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0 fw-bold">Registre De Commerce :</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {{entreprise.numRegCommerce}}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0 fw-bold">Fixe :</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {{entreprise.fax}}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0 fw-bold" >Addresse :</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {{entreprise.adresse.rue_entrprise}} - {{entreprise.adresse.region}} - {{entreprise.adresse.ville}}
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="row gutters-sm">
      <div class="col-sm-12 mb-3 border border-dark">
        <h1>Adherents</h1>
        <table class="table table-bordered table-responsive-sm">
          <thead>
          <tr>
          <th>Matricule </th>
          <th>Prenom </th>
          <th>Nom </th>
          <th>N telephone </th>
          <th>Email </th>
          <th>Actions </th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
