
  <div *ngIf="loader" id="preloader">
    <div id="loader"></div>
  </div>
  <div class="main-body" *ngIf="entreprise && adherents">
    <i class="bi bi-arrow-left-short" style="font-size: xx-large" routerLink="/client/menus-principal/entreprises/list-entreprises">{{entreprise.nomEntreprise}}</i>



  </div>


<!-- Nav tabs -->
<ul class="nav nav-tabs">
  <li class="nav-item ">
    <a class="nav-link active " data-bs-toggle="tab" href="#home">Acceuil</a>
  </li>
  <li class="nav-item ">
    <a class="nav-link" data-bs-toggle="tab" href="#menu1">Adherents</a>
  </li>
  <li class="nav-item ">
    <a class="nav-link" data-bs-toggle="tab" href="#menu2">Dossier</a>
  </li>
  <li class="nav-item ">
    <a class="nav-link" data-bs-toggle="tab" href="#menu3">Contrat</a>
  </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="home">
    <div class="row gutters-sm p-2">
      <div class="col-md-4 mb-3">
        <div class="card">
          <div class="card-body">
            <div class="d-flex flex-column align-items-center text-center">
              <img src="{{entreprise.logo}}" alt="Admin" class="rounded-circle" width="150">
              <div class="mt-3">
                <h4>{{entreprise.nomEntreprise}}</h4>
                <p class="text-secondary mb-1">{{entreprise.numeroTelephone}}</p>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="col-md-8">
        <div class="card mb-3">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0 fw-bold">Ninea:</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {{entreprise.ninea}}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0 fw-bold">Registre De Commerce :</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {{entreprise.numRegistreDeComerce}}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0 fw-bold">Fixe :</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {{entreprise.fax}}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0 fw-bold" >Addresse :</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                <!--                {{entreprise.adresse.rue_entrprise}} - {{entreprise.adresse.region}} - {{entreprise.adresse.ville}}-->
              </div>
            </div>
            <hr>
            <div class="row d-flex justify-content-end">
              <button class="btn btn-outline-warning col-sm-2 me-2" (click)="onShowContrat(entreprise.codeEntreprise)">Contrat</button>
              <button class="btn btn-outline-secondary col-sm-2 me-2" (click)="onEditEntreprise(entreprise.codeEntreprise)">Modifier</button>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="tab-pane fade" id="menu1">
    <div class="row gutters-sm p-2">
      <div class="col-sm-12">
        <h3>Adherents </h3>
        <nav class="row mb-2 d-flex justify-content-between">
          <div class="col-sm-4">
            <input class="form-control " type="text" name="firstName" [(ngModel)]="firstName" (ngModelChange)="search()" placeholder="Recherche par Prenom ou Nom">
          </div>
          <div class="col-sm-2 align-content-end">
            <button class="btn btn-success ps-5 pe-5" routerLink="/client/menus-principal/adherents/add-adherent">Ajouter</button>
          </div>
        </nav>
        <div class="table-responsive table-responsive-sm">
          <table class="table table-bordered">
            <thead>
            <tr>
              <th >Matricule</th>
              <th>Prenom et Nom</th>
              <th>Email</th>
              <th>Numero Telephone</th>
              <th>Adresse</th>
              <th>Date et Lieu de Naissance</th>
              <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let adherent of adherents | paginate:{itemsPerPage:3, currentPage:p}">
              <td>{{adherent.ridca}}</td>
              <td>{{adherent.prenom}} {{adherent.nom}}</td>
              <td>{{adherent.email}}</td>
              <td>{{adherent.telephone}}</td>
              <td>{{adherent.adresse}}</td>
              <td>{{adherent.dateNais | date}} a {{adherent.lieuNais}}</td>
              <td><i class="bi bi-arrow-up-right-circle-fill" (click)="onShowDetailsAdherents(adherent.ridca)"></i></td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="row d-flex justify-content-between" >
          <div class="col-sm-8">
            <pagination-controls (pageChange)=" p = $event"></pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="tab-pane  fade" id="menu2">Dossier</div>
  <div class="tab-pane  fade" id="menu3">Contrat</div>
</div>
