<div>
  <div *ngIf="loader" id="preloader">
    <div id="loader"></div>
  </div>
</div>


<div *ngIf="contract"  class="container rounded rounded-3 border border-2 p-4">
  <h5 class="text-center">Mettre a jour le contrat {{contract.entrepriseClients.nomEntreprise}}</h5>
  <form [formGroup]="contractForm">
    <div class="row d-flex justify-content-around mb-2">
      <div class=" form-floating p-1 col-sm-6">
        <input type="date" class="form-control" id="Signature" formControlName="date_signature" placeholder="matricule">
        <label for="Signature">Date De Signature du contrat</label>
      </div>
    </div>
    <div class="row d-flex justify-content-around mb-2">
      <div class=" form-floating p-1 col-sm-6">
        <input type="date" class="form-control" id="Viguer" formControlName="date_entree_vigueur" placeholder="matricule">
        <label for="Viguer">Date d'entree en vigueur</label>
      </div>
    </div>
    <div class="row d-flex justify-content-around mb-2">
      <div class=" form-floating p-1 col-sm-6">
        <input type="date" class="form-control" id="finContrat" formControlName="date_fin_contrat" placeholder="matricule">
        <label for="finContrat">Date d'entree en vigueur</label>
      </div>
    </div>
    <div class="row d-flex justify-content-around mb-2">
    <div class=" form-floating p-1 col-sm-6">
      <select id="genre" class="form-select" aria-label="Default select example" formControlName="periodicite_contrat">
        <option value="MENSUEL"> Mensuel</option>
        <option value="MENSUELX2"> Bimestre</option>
        <option value="MENSUELX3"> Trimestre</option>
      </select>
      <label for="genre">Genre</label>
    </div>
    </div>
    <div class="row d-flex justify-content-around mb-2">
      <div class=" form-floating p-1 col-sm-6">
        <input hidden=""  class="form-control" id="entrepriseCliente" formControlName="entrepriseClients" placeholder="matricule">

      </div>
    </div>

    <div class="row mt-5 d-flex justify-content-between">
      <div class=" col-sm-2 ">
        <button class="ps-3 pe-3 btn btn-outline-secondary" (click)="redirectDetailsContract(contract.id)">Fermer</button>
      </div>
      <div class="col-sm-2 border border-2 ">
        <button type="button" class="ps-3 pe-3 btn btn-outline-success" (click)="updateContract()">Mettre a jour</button>
      </div>

    </div>
  </form>
</div>

