<div class="row gy-3">
	<div class="col-lg-6 col-xl-3 d-none d-lg-block">
	  <div class="card" [routerLink]="['entreprises-graphs']" routerLinkActive="active-link">
		<div class="card-body">
		  <h6 class="card-title"> <span class="display-5">450 </span> Entreprises Clientes</h6>
		</div>
	  </div>
	</div>
	<div class="col-lg-6 col-xl-3 d-none d-lg-block">
		<div class="card" [routerLink]="['structures-graphs']" routerLinkActive="active-link">
			<div class="card-body">
				<h6 class="card-title"> <span class="display-5">205 </span> Structures Sanitaires</h6>
			</div>
		</div>
	</div>
	<div class="col-lg-6 col-xl-3 d-none d-lg-block">
		<div class="card" [routerLink]="['adherants-graphs']" routerLinkActive="active-link">
			<div class="card-body">
				<h6 class="card-title"> <span class="display-5">8552 </span> Adhérants</h6>
			  </div>
		</div>
	</div>
	<div class="col-lg-6 col-xl-3 d-none d-lg-block">
		<div class="card">
			<div class="card-body">
				<h6 class="card-title"> <span class="display-5">450 </span> Entreprises Clientes</h6>
			  </div>
		</div>
	</div>
  </div>
